<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 p-10">
        <div class="flex justify-between">
            <a href="/login"><p class="text-sm font-semibold text-blue-400 mb-3">Login Now!</p></a>
            <a href="/logout"><p class="text-sm font-semibold text-red-400 mb-3">Logout</p></a>
        </div>
        <div class="w-full">
            <h2 class="text-white font-semibold text-xl mb-5">Create new User</h2>
            <form action="create-user" method="post" class="flex flex-col gap-3">
            <input type="text" name="name" placeholder="Name" class="bg-zinc-800 text-white px-5 py-2 rounded-md">
            <input type="email" name="mail" placeholder="Email" class="bg-zinc-800 text-white px-5 py-2 rounded-md">
            <input type="password" name="password" placeholder="Password" class="bg-zinc-800 text-white px-5 py-2 rounded-md">
            <input type="text" name="image" placeholder="Image" class="bg-zinc-800 text-white px-5 py-2 rounded-md">
            <input type="submit" value="Save Record" class="bg-blue-500 font-semibold cursor-pointer hover:bg-blue-600 text-white px-5 py-2 rounded-md">
            </form>
        </div>
    </div>
</body>
</html>