<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 p-10">
        <div>
            <a href="/"><p class="text-sm font-semibold text-blue-400 mb-3">Create New User</p></a>
        </div>
        <div class="w-full">
            <h2 class="text-white font-semibold text-xl mb-5">Login here!</h2>
            <form action="login" method="post" class="flex flex-col gap-3">
            <input type="email" name="mail" placeholder="Email" class="bg-zinc-800 text-white px-5 py-2 rounded-md">
            <input type="password" name="password" placeholder="Password" class="bg-zinc-800 text-white px-5 py-2 rounded-md">
            <input type="submit" value="Save Record" class="bg-blue-500 font-semibold cursor-pointer hover:bg-blue-600 text-white px-5 py-2 rounded-md">
            </form>
        </div>
    </div>
</body>
</html>