<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-zinc-900 text-white">
    <div class="px-15 py-10 flex flex-row flex-wrap gap-4">
        <div class="bg-zinc-800 rounded-md py-3 px-6 w-full">
            <h2 class="font-semibold text-lg"><%= file.title %></h2>
            <p class="font-semibold text-blue-400 text-md cursor-pointer hover:text-blue-500 mt-1"><%= file.notes %></p>
            <a href="/edit/<%= file.title %>"><p class="font-semibold text-green-400 mt-5 text-sm cursor-pointer hover:text-green-600 mt-1">Edit notes</p></a>
            <a href="/"><p class="font-semibold text-gray-400 text-sm cursor-pointer hover:text-gray-500 mt-1">go back to home...</p></a>
        </div>
    </div>
</body>
</html>